In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("fifa_19.csv")
df

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,18202,238813,J. Lundstram,19,https://cdn.sofifa.org/players/4/19/238813.png,England,https://cdn.sofifa.org/flags/14.png,47,65,Crewe Alexandra,...,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0,€143K
18203,18203,243165,N. Christoffersson,19,https://cdn.sofifa.org/players/4/19/243165.png,Sweden,https://cdn.sofifa.org/flags/46.png,47,63,Trelleborgs FF,...,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0,€113K
18204,18204,241638,B. Worman,16,https://cdn.sofifa.org/players/4/19/241638.png,England,https://cdn.sofifa.org/flags/14.png,47,67,Cambridge United,...,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0,€165K
18205,18205,246268,D. Walker-Rice,17,https://cdn.sofifa.org/players/4/19/246268.png,England,https://cdn.sofifa.org/flags/14.png,47,66,Tranmere Rovers,...,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0,€143K
18206,18206,246269,G. Nugent,16,https://cdn.sofifa.org/players/4/19/246269.png,England,https://cdn.sofifa.org/flags/14.png,46,66,Tranmere Rovers,...,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0,€165K

In [5]:
df.describe

<bound method NDFrame.describe of        Unnamed: 0      ID                Name  Age  \
0               0  158023            L. Messi   31
1               1   20801   Cristiano Ronaldo   33
2               2  190871           Neymar Jr   26
3               3  193080              De Gea   27
4               4  192985        K. De Bruyne   27
...           ...     ...                 ...  ...
18202       18202  238813        J. Lundstram   19
18203       18203  243165  N. Christoffersson   19
18204       18204  241638           B. Worman   16
18205       18205  246268      D. Walker-Rice   17
18206       18206  246269           G. Nugent   16

                                                Photo Nationality  \
0      https://cdn.sofifa.org/players/4/19/158023.png   Argentina
1       https://cdn.sofifa.org/players/4/19/20801.png    Portugal
2      https://cdn.sofifa.org/players/4/19/190871.png      Brazil
3      https://cdn.sofifa.org/players/4/19/193080.png       Spain
4      https://cdn.sofifa.org/players/4/19/192985.png     Belgium
...                                               ...         ...
18202  https://cdn.sofifa.org/players/4/19/238813.png     England
18203  https://cdn.sofifa.org/players/4/19/243165.png      Sweden
18204  https://cdn.sofifa.org/players/4/19/241638.png     England
18205  https://cdn.sofifa.org/players/4/19/246268.png     England
18206  https://cdn.sofifa.org/players/4/19/246269.png     England

                                      Flag  Overall  Potential  \
0      https://cdn.sofifa.org/flags/52.png       94         94
1      https://cdn.sofifa.org/flags/38.png       94         94
2      https://cdn.sofifa.org/flags/54.png       92         93
3      https://cdn.sofifa.org/flags/45.png       91         93
4       https://cdn.sofifa.org/flags/7.png       91         92
...                                    ...      ...        ...
18202  https://cdn.sofifa.org/flags/14.png       47         65
18203  https://cdn.sofifa.org/flags/46.png       47         63
18204  https://cdn.sofifa.org/flags/14.png       47         67
18205  https://cdn.sofifa.org/flags/14.png       47         66
18206  https://cdn.sofifa.org/flags/14.png       46         66

                      Club  ... Composure Marking StandingTackle  \
0             FC Barcelona  ...      96.0    33.0           28.0
1                 Juventus  ...      95.0    28.0           31.0
2      Paris Saint-Germain  ...      94.0    27.0           24.0
3        Manchester United  ...      68.0    15.0           21.0
4          Manchester City  ...      88.0    68.0           58.0
...                    ...  ...       ...     ...            ...
18202      Crewe Alexandra  ...      45.0    40.0           48.0
18203       Trelleborgs FF  ...      42.0    22.0           15.0
18204     Cambridge United  ...      41.0    32.0           13.0
18205      Tranmere Rovers  ...      46.0    20.0           25.0
18206      Tranmere Rovers  ...      43.0    40.0           43.0

       SlidingTackle GKDiving  GKHandling  GKKicking  GKPositioning  \
0               26.0      6.0        11.0       15.0           14.0
1               23.0      7.0        11.0       15.0           14.0
2               33.0      9.0         9.0       15.0           15.0
3               13.0     90.0        85.0       87.0           88.0
4               51.0     15.0        13.0        5.0           10.0
...              ...      ...         ...        ...            ...
18202           47.0     10.0        13.0        7.0            8.0
18203           19.0     10.0         9.0        9.0            5.0
18204           11.0      6.0         5.0       10.0            6.0
18205           27.0     14.0         6.0       14.0            8.0
18206           50.0     10.0        15.0        9.0           12.0

      GKReflexes Release Clause
0            8.0        €226.5M
1           11.0        €127.1M
2           11.0        €228.1M
3           94.0        €138.6M
4           13.0        €196.4M
...          ...            ...
18202        9.0          €143K
18203       12.0          €113K
18204       13.0          €165K
18205        9.0          €143K
18206        9.0          €165K

[18207 rows x 89 columns]>

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                18207 non-null  int64
 1   ID                        18207 non-null  int64
 2   Name                      18207 non-null  object
 3   Age                       18207 non-null  int64
 4   Photo                     18207 non-null  object
 5   Nationality               18207 non-null  object
 6   Flag                      18207 non-null  object
 7   Overall                   18207 non-null  int64
 8   Potential                 18207 non-null  int64
 9   Club                      17966 non-null  object
 10  Club Logo                 18207 non-null  object
 11  Value                     18207 non-null  object
 12  Wage                      18207 non-null  object
 13  Special                   18207 non-null  int64
 14  Preferred Foot            18159 non-null  object
 15  International Reputation  18159 non-null  float64
 16  Weak Foot                 18159 non-null  float64
 17  Skill Moves               18159 non-null  float64
 18  Work Rate                 18159 non-null  object
 19  Body Type                 18159 non-null  object
 20  Real Face                 18159 non-null  object
 21  Position                  18147 non-null  object
 22  Jersey Number             18147 non-null  float64
 23  Joined                    16654 non-null  object
 24  Loaned From               1264 non-null   object
 25  Contract Valid Until      17918 non-null  object
 26  Height                    18159 non-null  object
 27  Weight                    18159 non-null  object
 28  LS                        16122 non-null  object
 29  ST                        16122 non-null  object
 30  RS                        16122 non-null  object
 31  LW                        16122 non-null  object
 32  LF                        16122 non-null  object
 33  CF                        16122 non-null  object
 34  RF                        16122 non-null  object
 35  RW                        16122 non-null  object
 36  LAM                       16122 non-null  object
 37  CAM                       16122 non-null  object
 38  RAM                       16122 non-null  object
 39  LM                        16122 non-null  object
 40  LCM                       16122 non-null  object
 41  CM                        16122 non-null  object
 42  RCM                       16122 non-null  object
 43  RM                        16122 non-null  object
 44  LWB                       16122 non-null  object
 45  LDM                       16122 non-null  object
 46  CDM                       16122 non-null  object
 47  RDM                       16122 non-null  object
 48  RWB                       16122 non-null  object
 49  LB                        16122 non-null  object
 50  LCB                       16122 non-null  object
 51  CB                        16122 non-null  object
 52  RCB                       16122 non-null  object
 53  RB                        16122 non-null  object
 54  Crossing                  18159 non-null  float64
 55  Finishing                 18159 non-null  float64
 56  HeadingAccuracy           18159 non-null  float64
 57  ShortPassing              18159 non-null  float64
 58  Volleys                   18159 non-null  float64
 59  Dribbling                 18159 non-null  float64
 60  Curve                     18159 non-null  float64
 61  FKAccuracy                18159 non-null  float64
 62  LongPassing               18159 non-null  float64
 63  BallControl               18159 non-null  float64
 64  Acceleration              18159 non-null  float64
 65  SprintSpeed               18159 non-null  float64
 66  Agility                   18159 non-null  float64
 67  Reactions                 18159 non-null  float64
 68  Balance                   18159 non-null  float64
 69  ShotPower                 18159 non-null  float64
 70  Jumping                   18159 non-null  float64
 71  Stamina                   18159 non-null  float64
 72  Strength                  18159 non-null  float64
 73  LongShots                 18159 non-null  float64
 74  Aggression                18159 non-null  float64
 75  Interceptions             18159 non-null  float64
 76  Positioning               18159 non-null  float64
 77  Vision                    18159 non-null  float64
 78  Penalties                 18159 non-null  float64
 79  Composure                 18159 non-null  float64
 80  Marking                   18159 non-null  float64
 81  StandingTackle            18159 non-null  float64
 82  SlidingTackle             18159 non-null  float64
 83  GKDiving                  18159 non-null  float64
 84  GKHandling                18159 non-null  float64
 85  GKKicking                 18159 non-null  float64
 86  GKPositioning             18159 non-null  float64
 87  GKReflexes                18159 non-null  float64
 88  Release Clause            16643 non-null  object
dtypes: float64(38), int64(6), object(45)
memory usage: 12.4+ MB

In [7]:
df.ndim

2

In [8]:
df.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [49]:
# df[["Name","Age","Value","Wage"]]
value_df = pd.DataFrame(df[["Name","Age","Value","Wage"]])
value_df

                     Name  Age    Value   Wage
0                L. Messi   31  €110.5M  €565K
1       Cristiano Ronaldo   33     €77M  €405K
2               Neymar Jr   26  €118.5M  €290K
3                  De Gea   27     €72M  €260K
4            K. De Bruyne   27    €102M  €355K
...                   ...  ...      ...    ...
18202        J. Lundstram   19     €60K    €1K
18203  N. Christoffersson   19     €60K    €1K
18204           B. Worman   16     €60K    €1K
18205      D. Walker-Rice   17     €60K    €1K
18206           G. Nugent   16     €60K    €1K

[18207 rows x 4 columns]

In [10]:
value_df[value_df["Value"] > value_df["Wage"]]

                     Name  Age Value   Wage
1       Cristiano Ronaldo   33  €77M  €405K
3                  De Gea   27  €72M  €260K
5               E. Hazard   27  €93M  €340K
6               L. Modrić   32  €67M  €420K
7               L. Suárez   31  €80M  €455K
...                   ...  ...   ...    ...
18202        J. Lundstram   19  €60K    €1K
18203  N. Christoffersson   19  €60K    €1K
18204           B. Worman   16  €60K    €1K
18205      D. Walker-Rice   17  €60K    €1K
18206           G. Nugent   16  €60K    €1K

[10349 rows x 4 columns]

In [11]:
value_df

                     Name  Age    Value   Wage
0                L. Messi   31  €110.5M  €565K
1       Cristiano Ronaldo   33     €77M  €405K
2               Neymar Jr   26  €118.5M  €290K
3                  De Gea   27     €72M  €260K
4            K. De Bruyne   27    €102M  €355K
...                   ...  ...      ...    ...
18202        J. Lundstram   19     €60K    €1K
18203  N. Christoffersson   19     €60K    €1K
18204           B. Worman   16     €60K    €1K
18205      D. Walker-Rice   17     €60K    €1K
18206           G. Nugent   16     €60K    €1K

[18207 rows x 4 columns]

In [42]:
def make_int(s):
    # remove '€'
    s = s.replace("€","")
    
    
    # if found, remove '.' and "M" or remove "M"or"K"
    if "." in s and "M" in s:
        s = s.replace(".","").replace("M","00000")
        
    else: 
        s = s.replace("M","000000").replace("K","000")
        
    
    #return value in interger form
    return int(s)

In [51]:
value_df["Value"] = value_df["Value"].apply(make_int)

In [52]:
value_df["Wage"] = value_df["Wage"].apply(make_int)

In [53]:
value_df

                     Name  Age      Value    Wage
0                L. Messi   31  110500000  565000
1       Cristiano Ronaldo   33   77000000  405000
2               Neymar Jr   26  118500000  290000
3                  De Gea   27   72000000  260000
4            K. De Bruyne   27  102000000  355000
...                   ...  ...        ...     ...
18202        J. Lundstram   19      60000    1000
18203  N. Christoffersson   19      60000    1000
18204           B. Worman   16      60000    1000
18205      D. Walker-Rice   17      60000    1000
18206           G. Nugent   16      60000    1000

[18207 rows x 4 columns]